.bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #f4faff;
  position: fixed;
  bottom: 0;
  left: 0; /* 왼쪽 끝에 고정 */
  right: 0; /* 오른쪽 끝에도 고정 */
  width: 100%;
  border-top: 1px solid #ddd;
  box-sizing: border-box; /* 패딩과 경계를 전체 크기에 포함 */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #aaa;  /* 기본 상태: 텍스트 색상 */
  text-decoration: none;
}

.nav-item img {
  opacity: 0.5;  /* 기본 상태: 아이콘 불투명도 */
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.nav-item.active {
  color: black;  /* 활성화된 상태: 텍스트 색상 검정 */
  font-weight: bold;
}

.nav-item.active img {
  opacity: 1;  /* 활성화된 상태: 아이콘 불투명도 */
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

span {
  font-size: 12px;
}

/* 활성화된 메뉴 상태에 대한 추가 처리 */
.nav-item.active span {
  font-weight: bold;
  color: black; /* 활성화된 텍스트 색상 */
}
