.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(104vh - 150px); /* 상단, 하단 메뉴바 공간 제외 */
  padding: 0px;
  background-color: #f4faff;
}

.chat-messages {
  display: flex;
  flex-direction: column; /* 각 메시지가 한 줄에 하나씩 배치되도록 설정 */
  align-items: flex-start; /* 기본적으로 왼쪽 정렬 */
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 0;
  max-height: calc(100vh - 180px);
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-bubble {
  display: inline-block; /* 메시지 길이에 따라 너비가 조절되도록 설정 */
  margin: 6px;
  padding: 8px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user {
  background-color: #FFFBE3;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.bot {
  background-color: #E6F2F5;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  background-color: #f4faff;
  border-top: 1px solid #f4faff;
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.chat-input-container input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #e8f0f8;
  border-radius: 20px;
  font-size: 13px;
  background-color: #ffffff;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.chat-input-container input:focus {
  border-color: #98a8af;
  box-shadow: 0 0 3px rgba(142, 202, 230, 0.5);
}

.chat-input-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e8f0f8;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.05s ease;
}

.chat-input-container button:hover {
  background-color: #c7e3f0;
}

.chat-input-container button:active {
  background-color: #a0d8ef;
}

.send-icon {
  width: 18px;
  height: 18px;
}
