.trip-result-container {
  padding: 20px;
  font-family: 'Pretendard', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 87vh; /* 전체 화면 높이에 맞춤 */
  overflow: hidden; /* 전체 페이지 스크롤 방지 */
}

.search-input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 15px;
  border-radius: 24px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f9f9f9;
}

.map-container {
  height: 220px; /* 고정된 높이 설정 */
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.day-selector {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 24px;
}

.day-button {
  flex: 1;
  padding: 10px 0;
  background-color: transparent;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #141C74; /* 버튼마다 테두리 추가 */
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  margin: 0 4px; /* 버튼 사이 간격 추가 */
}

.day-button.active {
  background-color: #3b82f6;
  color: white;
  border: 1px solid #3b82f6; /* 활성화된 버튼 테두리 색상 */
}

.trip-details {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  overflow-y: auto; /* 일정 리스트만 스크롤 가능하도록 설정 */
  -ms-overflow-style: none;  /* IE와 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;  /* Firefox에서 스크롤바 숨기기 */
}

.trip-details-list {
  max-height: 40vh; /* 리스트가 일정 높이 이상으로 넘치지 않도록 설정 */
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE와 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;  /* Firefox에서 스크롤바 숨기기 */
}

/* Chrome, Safari, Edge에서 스크롤바 완전히 숨기기 */
.trip-details-list::-webkit-scrollbar {
  display: none;
}


.event-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.event-item:last-child {
  border-bottom: none;
}

/* 일반 텍스트처럼 보이게 설정 */
.editable-text {
  cursor: pointer;
  padding: 4px 8px;
  font-size: 14px;
  color: #333;
}

.inline-edit-input {
  font-size: 14px;
  padding: 4px;
  margin-right: 5px;
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

.time-input {
  width: 50px;
  text-align: center;
}

.place-input {
  width: 100%;
}

.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3b82f6;
  border: 2px solid white;
  font-weight: bold;
  font-size: 12px;
  z-index: 1000;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: 120px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 100;
}

.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f5f5f7;
}
